<header>
    <!-- Primera línea: Logo, Barra de Búsqueda, Iconos de Usuario y Carrito -->
        <div class="top-row-container">
          <div class="top-row">
            <img src="assets/images/Logo.png" alt="Logo" class="logo">
            <div class="search-bar">
              <img src="assets/images/Icon-Search.png" alt="Search Icon" class="search-icon">
              <input type="text" placeholder="Search">
            </div>
            <div class="icons">
              <img src="assets/images/Icon-User.png" alt="User Icon" class="user-icon">
              <img src="assets/images/Icon-Cart.png" alt="Cart Icon" class="cart-icon">
            </div>
          </div>
        </div>
        <!-- Otras partes del header aquí -->
      
  
    <!-- Segunda línea: Menú de Navegación -->
<div class="navigation-container">
    <nav class="navigation">
      <ul>
        <li><div class="nav-item"><a href="#">Medicinas</a></div></li>
        <li><div class="nav-item"><a href="#">MTs</a></div></li>
        <li><div class="nav-item"><a href="#">Pokeballs</a></div></li>
        <li><div class="nav-item"><a href="#">Bayas</a></div></li>
        <li><div class="nav-item"><a href="#">Objetos</a></div></li>
      </ul>
    </nav>
</div>

    <!-- Tercera línea: Banner -->
<div class="banner-container">
    <div class="banner">
        <p class="banner-text">Disfruta de nuestras <span class="highlight">OFERTAS PIKACHU</span> con hasta un 80% de descuento <a href="#" class="cta-button">¡ENTRAR!</a></p>
      </div>
</div>
  </header>
  